{% load static %}
{% load widget_tweaks %}

<html lang="fa">
<head>
	<title>ورود</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/bootstrap/css/bootstrap.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/iconic/css/material-design-iconic-font.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/animate/animate.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/css-hamburgers/hamburgers.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/animsition/css/animsition.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/select2/select2.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/daterangepicker/daterangepicker.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/util.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/main.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/rtl.css' %}" >
<!--===============================================================================================-->
</head>
<body>
<div class="limiter">
		{% if form.non_field_errors %}
			<div class="errors">
				{% for error in form.non_field_errors %}
				<span>{{error}}</span>
				{% endfor %}
			</div>
		{% endif %}
		<div class="container-login100">
			<div class="alert alert-info">
                    <h1>گذرواژهٔ جدید ایجاد شد. اکنون می‌توانید وارد وب‌گاه شوید. </h1>
					<h2 class="myfont">جهت ورود روی <a style="color:red; font-weight: bold; font-size: inherit;" href="{% url 'login' %}">لینک </a>کلیک نمایید.</h2>

            </div>
		</div>
</div>

</body>
</html>
