{% load static %}
{% load widget_tweaks %}

<html lang="fa">
<head>
	<title>ورود</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/bootstrap/css/bootstrap.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/fonts/iconic/css/material-design-iconic-font.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/animate/animate.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/css-hamburgers/hamburgers.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/animsition/css/animsition.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/select2/select2.min.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/vendor/daterangepicker/daterangepicker.css' %}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/util.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/main.css' %}" >
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/rtl.css' %}" >
<!--===============================================================================================-->
</head>
<body>
<div class="limiter">
		{% if form.non_field_errors %}
			<div class="errors">
				{% for error in form.non_field_errors %}
				<span>{{error}}</span>
				{% endfor %}
			</div>
		{% endif %}
		<div class="container-login100">
			<div class="alert alert-info">
                    <h1>تقاضای ریست رمز فرستاده شد</h1>
                    <h5>دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم.</h5>
                    <h5>اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.</h5>
                    <h5>اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ
                    اسپم خود را نیز چک کنید.</h5>
            </div>
		</div>
</div>

</body>
</html>
